/* Стили для различных кнопок */
.buttonPrimary {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}


/* Стиль для кнопки в отключенном состоянии */
.buttonPrimary:disabled {
    background-color: #ccc;
}

/* Стиль для кнопки при наведении (не отключена) */
.buttonPrimary:hover:not(:disabled) {
    background-color: #0056b3;
}